:host {
  display: block;
}

:host > button {
  color: var(--facebook-auth-button-color, white);
  background-color: var(--facebook-auth-button-background-color, #3b5998);
  padding: var(--facebook-auth-button-padding, var(--firebase-auth-button-padding, 0.6em 1.2em));
}

:host > button > slot > img {
  width: 1.3em;
  height: 1.3em;
  margin-bottom: -0.3em;
  margin-right: 1em;
  margin-left: -0.3em;
}